/* src/app/login/login.module.css */

.gradientBg {
  background: linear-gradient(
    -45deg,
    var(--color-primary),
    #172554, /* Vurgu renginizin çok koyu hali (blue-950 gibi) */
    var(--color-secondary),
    var(--color-primary)
  );
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}